fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-multipart
python-dotenv
httpx
authlib
itsdangerous
google-generativeai
PyMuPDF
groq
resend
cloudinary
slowapi
Pillow
qrcode
PyJWT
reportlab
apscheduler
beautifulsoup4
lxml
